// Settings go here
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  // background-color: $background-color;
}

$header-height: 70px;
.banner {
  width: 100%;
  height: calc(100vh - #{$header-height});
  background-color: $background-color;
  overflow: auto;
}

.container {
  max-width: $max-width;
  padding: $default-padding;
  margin: 0 auto;
}
