
// Colors
$dark-gray: #D4D0D0;
$background-color: #EFEFFA;

// Borders
$dark-border: 1px solid $dark-gray;
$radius-default: 2px;

//Sizes
$max-width: 900px;

//Spacing
$default-spacing: 20px;
@mixin center-page() {
  display: flex;
  justify-content: middle;
  align-items: center;
}
